.customBorder {
  border: 1px solid black;
}

.card-border {
  border: 2px solid black;
  border-radius: 10px;
}

.main {
  height: 100%;
  width: 100%;
}

.languages {
  height: 64vh;
  padding-bottom: 100px;
  border-right: 1px solid black;

  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.languages::-webkit-scrollbar {
  display: none;
}

.card-add-buttom {
  height: 40px;
  width: 40px;
}

.selected-languages {
  height: 64vh;
}
