<div class="main-content d-flex pb-0">
  <div class="languages col-md-8 px-4 pt-4 pb-5">
    <app-language-card
      [language]="lang"
      [addToSelectedLanguages]="addSelectedLanguage"
      *ngFor="let lang of languages"
    ></app-language-card>
  </div>
  <div class="selected-languages p-0 col-md-4">
    <form
      (ngSubmit)="onSubmit(refLocalForm)"
      #refLocalForm="ngForm"
      ngNativeValidate
      id="myform"
    >
      <div class="selected-languages-inputs py-4 px-5">
        <div class="input-group mb-3">
          <label for="name">Nome:</label>
          <input
            class="w-100 form-control"
            ngModel
            type="text"
            id="name"
            name="name"
          />
        </div>
        <div class="input-group">
          <label for="email">Email:</label>
          <input
            class="w-100 form-control"
            ngModel
            type="text"
            id="email"
            name="email"
          />
        </div>
      </div>
    </form>
    <div class="selected-languages-items py-4 px-5">
      <h3 class="selected-languages-title mb-5">Linguagens selecionadas</h3>
      <div class="selected-languages-group">
        <div
          class="selected-languages-card"
          *ngFor="let langs of selectedLanguages"
        >
          <p>
            {{ langs.name }} - {{ langs.teacher }} - {{ langs.duration }} Horas
          </p>
        </div>
      </div>
      <div class="selected-languages-button">
        <button type="submit" form="myform">Salvar</button>
      </div>
    </div>
  </div>
</div>
